<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!-- Search Engine Optimization (SEO) Meta Tags -->
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.name }}">
    
    <!-- Open Graph Meta Tags (For Google Snippets & Social Card Previews) -->
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/{{ site.avatar }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <!-- Updated with dynamic absolute pathing to keep avatar live on subpages -->
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.url }}/{{ site.avatar }}" alt="{{ site.name }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            {% for link in site.navigation %}
              <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
